<!DOCTYPE html>
<html>
<head>
  <title>Kotopedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
<style >
	body{
		background-image: url('https://scontent-a-mxp.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10653564_324438711060518_3016643810353144181_n.jpg?oh=3eabf86911698398d742b294d2600c06&oe=54C93A2F') ;
		background-repeat: no-repeat;
		background-position: auto ;
		background-size: cover ;
	}
</style>>
